In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('london_merged.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [5]:
data.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [4]:
data.weather_code.unique()

array([ 3.,  1.,  4.,  7.,  2., 26., 10.])

In [5]:
data.season.unique()

array([3., 0., 1., 2.])

In [7]:
data.rename(columns={
    'timestamp': 'Time',
    'cnt' : 'Count', 
    't1' : 'Temp_real_C', 
    't2' : 'Temp_feels_like_C', 
    'hum' : 'Humidity', 
    'wind_speed' : 'Wind_speed_kph', 
    'weather_code': 'Weather',
    'is_holiday' : 'is_holiday', 
    'is_weekend' : 'is_weekend',
    'season' : 'Season'
},
inplace=True)

In [8]:
data.head()

,Time,Count,Temp_real_C,Temp_feels_like_C,Humidity,Wind_speed_kph,Weather,is_holiday,is_weekend,Season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [9]:
for i, value in enumerate(data['Season']):
    if value == 0:
        data['Season'][i] = 'spring'
    elif value == 1:
        data['Season'][i] = 'summer'
    elif value == 2:
        data['Season'][i] = 'fall'
    elif value == 3:
        data['Season'][i] = 'winter'

C:\Users\hp\AppData\Local\Temp\ipykernel_10280\1353936632.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Season'][i] = 'winter'

In [10]:
for i, value in enumerate(data['Weather']):
    if value == 1:
        data['Weather'][i] = 'Clear'
    elif value == 2:
        data['Weather'][i] = 'scattered clouds'
    elif value == 3:
        data['Weather'][i] = 'Broken clouds'
    elif value == 4:
        data['Weather'][i] = 'Cloudy'
    elif value == 7:
        data['Weather'][i] = 'Rain'
    elif value == 10:
        data['Weather'][i] = 'Rain with Thunderstorm'
    elif value == 26:
        data['Weather'][i] = 'Snowfall'
    elif value == 94:
        data['Weather'][i] = 'Freezing Fog'

C:\Users\hp\AppData\Local\Temp\ipykernel_10280\2708281765.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Weather'][i] = 'Broken clouds'

In [11]:
data.head()

,Time,Count,Temp_real_C,Temp_feels_like_C,Humidity,Wind_speed_kph,Weather,is_holiday,is_weekend,Season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,0.0,1.0,winter

In [12]:
data.to_excel('london_bikes.xlsx', sheet_name='Data')